*,
*::before,
*::after {
  box-sizing: border-box;
  /* border: 1px solid black; */
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  /* --clr-accent: #16e0bd; */
  --clr-accent: rgb(0, 255, 149);

  --fs-h1: 4rem;
  --fs-h2: 3.25rem;
  --fs-h3: 1.8rem;
  --fs-body: 1.2rem;

  --bs: 0em 0.35em 0.35em rgba(0, 0, 0, 0.35),
    0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

html {
  overflow-x: hidden;
}
body {
  background-color: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 3.5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: bold !important;
}

/* font settings */

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section_title {
  margin-bottom: 0.25em;
}

.section_title--intro {
  font-weight: var(--fw-reg);
}

.section_title--intro strong {
  display: block;
}

.section_subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}
.section_subtitle--intro,
.section_subtitle--about,
.section_subtitle--skills,
.section_subtitle--projects,
.section_subtitle--contact {
  background: var(--clr-accent);
  padding: 0.25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 2rem;
}

/* Header Section */

header {
  display: flex;
  justify-content: space-between;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transform: translateX(100%);
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.nav_list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav_link a {
  display: block;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
  color: var(--clr-light);
}

.nav_link a:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 2em;
  top: 2em;
  z-index: 1000;
}

.nav-open {
  transform: translateX(0);
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: var(--clr-accent);
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

.disable-scroll {
  overflow: hidden;
}

.intro {
  position: relative;
}

.intro_img {
  box-shadow: var(--bs);
}

.mouse-icon {
  display: none;
}

.contact {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.about {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.about--body {
  text-align: left;
  max-width: 1000px;
}

.projects {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.portfolio {
  max-width: 1300px;
  margin-top: 1.5em;
}

.layout {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 5em;
  text-align: center;
  padding: 2em;
  background-color: white;
}
.layout:nth-child(even) {
  flex-direction: row-reverse;
}

.layout__item--body {
  flex-grow: 9999;
  flex-basis: 15rem;
  padding: 0 1em;
}
.layout__item--figure {
  flex-grow: 1;
}

.layout__item--figure img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  vertical-align: middle;
  margin: auto;
  max-height: 400px;
  box-shadow: var(--bs);
  border-radius: 6px;
}

.buttons {
  width: 10em;
  height: 3em;
  font-family: var(--ff-secondary);
  padding: 0.35em 1.2em;
  font-size: 0.8em;
  border: none;
  margin: 0 0.3em 2em 0;
  border-radius: 0.12em;
  color: var(--clr-dark);
  background-color: var(--clr-accent);
  text-align: center;
  transition: all 0.2s;
}

@media (min-width: 932px) {
  :root {
    --fs-h1: 5.5rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2rem;
    --fs-body: 1.5rem;
  }
}

@media (min-width: 874px) {

  .layout {
    padding: 4em;
  }

  .landing {
    padding-top: 25vh;
    height: 100vh;
  }
  .mouse-icon {
    display: block;
  }

  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    column-gap: 1em;
    grid-template-areas:
      "img title"
      "img subtitle";
    grid-template-columns: min-content max-content;
  }

  .intro_img {
    grid-area: img;
    min-width: 350px;
    position: relative;
  }

  .section_subtitle--intro {
    align-self: start;
    grid-column: 0 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -14em;
    width: calc(100% + 14em);
  }
}

@media screen and (max-width: 640px) {
  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-rows: auto;
    height: auto;
  }
  .skillsGrid img {
    height: 100px;
    width: 100px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

/* Medium Screens min width 641px change to 4 columns */
@media screen and (min-width: 641px) {
  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    grid-auto-rows: auto;
    height: auto;
  }
  .skillsGrid img {
    height: 120px;
    width: 120px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1080px) {
  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    grid-auto-rows: auto;
    height: auto;
    padding: 2em;
  }
  .skillsGrid img {
    height: 150px;
    width: 150px;
  }
  .skills {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
@media (hover: hover) {
  .buttons:hover {
    -webkit-appearance: none;
    color: var(--clr-accent);
    background-color: var(--clr-light);
    border: 0.1em solid var(--clr-accent);
    cursor: pointer;
  }
}

.tech img {
  max-width: 30px;
  max-height: 30px;
  display: inline;
  margin-top: 0.4em;
}

.section_subtitle a {
  display: inline-block;
}

.mygit {
  height: 30px;
  width: 30px;
}

#heart {
  display: inline-block;
  animation: heartbeat 1s infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

textarea {
  width: 100%;
  height: 15vh;
  resize: none;
  margin-bottom: 1em;
}

.mouse {
  margin: 50px auto;
  width: 27px;
}
.mouse-icon {
  width: 25px;
  height: 45px;
  border: 2px solid black;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  text-align: center;
}
.mouse-wheel {
  height: 6px;
  margin: 2px auto 0;
  display: block;
  width: 3px;
  background-color: black;
  border-radius: 50%;
  -webkit-animation: 1.6s ease infinite wheel-up-down;
  -moz-animation: 1.6s ease infinite wheel-up-down;
  animation: 1.6s ease infinite wheel-up-down;
}
@-webkit-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
@-moz-keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
@keyframes wheel-up-down {
  0% {
    margin-top: 2px;
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    margin-top: 20px;
    opacity: 0;
  }
}
